package page

import "nodes-grpc-frontend/components/requirements"
import "nodes-grpc-frontend/services/db_service"

import (
"nodes-grpc-frontend/components/base"
"nodes-grpc-frontend/components/list"
)

templ Dashboard(nodes []db_service.Node) {
@base.Page() {
@requirements.Requirements()
@list.NodeList(nodes)
}
}
