package page

import (
	"nodes-grpc-frontend/components/base"
	"nodes-grpc-frontend/components/list"
	"nodes-grpc-frontend/common/model/proto-model"
)

templ Dashboard(nodesModel *proto_model.NodeList) {
	@base.Page() {
		<button>Create Cluster</button>
		@list.NodeList(nodesModel)
	}
}
