package login

templ LoginPage() {
	<!DOCTYPE html>
	<html>
		<head>
			<title>Login</title>
			<meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8"/>
			<link rel="stylesheet" href="./assets/styles.css"/>
			<script>
        async function login() {
          let email = document.getElementById("email").value;
          let password = document.getElementById("password").value;
        
          const data = {
            email: email,
            password: password,
          }

          const url = "http://localhost:8080/api/v1/users/login"
          const response = await fetch(url, {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify(data)
          });

          try {
            const result = await response.json();

            console.log(result)
          } catch (error) {
            console.error('Error:', error.message);
          }
        }
      </script>
		</head>
		<body class="min-h-screen flex items-center justify-center p-4">
			<div class="w-full max-w-md">
				<div class="bg-white border p-8">
					<!-- Header -->
					<div class="text-center mb-8">
						<h1 class="text-2xl font-bold text-gray-900">Login</h1>
					</div>
					<!-- Form -->
					<form class="space-y-6">
						<!-- Email -->
						<div>
							<label for="email" class="block text-sm font-medium text-gray-700 mb-2">
								Email
							</label>
							<input
								type="email"
								id="email"
								name="email"
								required
								class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"
								placeholder="Enter your email"
							/>
						</div>
						<!-- Password -->
						<div>
							<label for="password" class="block text-sm font-medium text-gray-700 mb-2">
								Password
							</label>
							<input
								type="password"
								id="password"
								name="password"
								required
								class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent"
								placeholder="Enter your password"
							/>
						</div>
						<!-- Submit Button -->
						<button
							type="submit"
							class="w-full bg-blue-600 hover:bg-blue-700 text-white font-medium py-2 px-4 rounded-md transition duration-200"
              onclick="login()"
						>
							Login
						</button>
					</form>
				</div>
			</div>
		</body>
	</html>
}
