<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="/public/assets/styles.css" />
    <script src="https://cdn.jsdelivr.net/npm/@xterm/xterm@5.5.0/lib/xterm.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@xterm/xterm@5.5.0/css/xterm.min.css"
    />
  </head>
  <body class="h-screen bg-gray-50 font-mono">
    {{ template "bar" . }}
    <div id="terminal"></div>
    <script>
      var term = new Terminal();
      term.open(document.getElementById("terminal"));

      // term.writeln("Hello, World!");
      // websockets
      const receiveLogsUrl =
        "ws://localhost:8000/api/logs/stream/{{ .ClusterId }}";
      const socket = new WebSocket(receiveLogsUrl);

      socket.addEventListener("message", (event) => {
        term.writeln(event.data);
      });

      socket.addEventListener("close", () => {
        term.writeln("--END OF LOGS--");
        socket.close();
      });

      socket.addEventListener("error", (error) => {
        term.writeln(`--ERROR: ${error.message}, ${error.code}--`);
      });
    </script>
  </body>
</html>
