<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="/public/assets/styles.css" />
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
  </head>
  <body class="h-screen bg-gray-50 font-mono">
    {{ template "bar" . }}
    <div id="container" class="m-8">
      <div>
        Hello, {{ .Name }}. You are in {{ .GroupName }} group. This group
        resources:
      </div>
      <ul>
        <li class="flex gap-2">VCPU: <p id="group_vcpu">{{ .Vcpu }}</p></li>
        <li class="flex gap-2">Memory: <p id="group_memory">{{ .Memory }}</p></li>
        <li class="flex gap-2">Storage: <p id="group_storage">{{ .Storage }}</p></li>
        <li>Node per cluster: {{ .NodeSize }}</li>
        <li>Current cluster for this group: {{ .CurrentCluster }}</li>
        <li>Max cluster for this group: {{ .MaxCluster }}</li>
      </ul>
      <div class="flex flex-col">
        <p class="text-4xl">Group Worker Computers:</p>
        {{ if .GroupNodes }}
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 my-2">
          {{ range .GroupNodes }}
          <div class="p-4 rounded-md border">
            <p>Hostname: {{ .Hostname }}</p>
            <p>IP address: {{ .IpAddress }}</p>
            <div class="flex gap-2">VCPU: <p id="{{ .IpAddress }}_vcpu">{{ .VCpu }}</p></div>
            <div class="flex gap-2">Memory: <p id="{{ .IpAddress }}_memory">{{ .Memory }}</p></div>
            <div class="flex gap-2">Storage: <p id="{{ .IpAddress }}_storage">{{ .Storage }}</p></div>
          </div>
          {{ end }}
        </div>
        <div>
          <p class="text-2xl">Create clusters</p>
          <div class="flex">
            <form id="nodesSelector">
              <label for="cluster_name" class="text-xl">cluster name:</label>
              <input
                type="text"
                id="cluster_name"
                class="border border-black text-gray-900 text-sm rounded-md block w-full p-2.5"
                required
              /><br />
              <p class="text-xl">Select computer for every node:</p>
              <div class="flex gap-6">
                {{ range $nodeIndex := .NodeSize }}
                <div>
                  {{ if (eq $nodeIndex 0) }}
                  <p class="text-sm">Master Node:</p>
                  {{ else }}
                  <p class="text-sm">Worker Node {{ $nodeIndex }}</p>
                  {{ end }}

                  {{ range $.GroupNodes }}
                  <div>
                    <input
                      type="radio"
                      name="node_{{ $nodeIndex }}"
                      id="{{ .Hostname }},{{ .IpAddress }}"
                      value="{{ .Hostname }},{{ .IpAddress }}"
                      required
                    />
                    <label for="{{ .Hostname }},{{ .IpAddress }}"
                      >{{ .Hostname }},{{ .IpAddress }}</label
                    >
                  </div>
                  {{ end }}
                </div>
                {{ end }}
              </div>
              <button
                type="submit"
                class="w-full bg-blue-500 text-white p-3 rounded-lg transition hover:bg-blue-600 hover:cursor-pointer"
              >
                Create
              </button>
            </form>
          </div>
        </div>
        <div id="result"></div>
        {{ else }}
        <p>No computers found</p>
        {{ end }}
      </div>
    </div>

    <!-- script starts here -->
    <script>
      $("#nodesSelector").on("submit", function (e) {
        e.preventDefault();

        const selectedValues = [];
        let clusterName = "";

        // get the nodes checked
        $('input[type="radio"]:checked').each(function () {
          selectedValues.push($(this).val());
        });

        // id="cluster_name"
        clusterName = $("#cluster_name").val();

        // checking
        // for (let currentNodeIndex = 0; currentNodeIndex < selectedValues.length; currentNodeIndex++) {
        //   var currentNode = selectedValues[currentNodeIndex];
        //   var currentNodeIpAddress = currentNode.split(",")[1];
        //
        //   // // vcpu
        //   // var group_vcpu = parseInt($("#group_vcpu").val());
        //   // var selected_node_vcpu = parseInt($(currentNodeIpAddress + "_vcpu").val())
        //   // if (selected_node_vcpu < group_vcpu) {
        //   //   $("#result").html("<p>worker node " + currentNode + "not enough vcpu</p>");
        //   // }
        //   // return
        //   //
        //   // // memory
        //   // var group_memory = parseInt($("#group_memory").val());
        //   // var selected_node_memory = parseInt($(currentNodeIpAddress + "_memory").val())
        //   // if (selected_node_memory < group_memory) {
        //   //   $("#result").html("<p>worker node " + currentNode + "not enough memory</p>");
        //   // }
        //   // return
        //   //
        //   // // storage
        //   // var group_memory = parseInt($("#group_memory").val());
        //   // var selected_node_memory = parseInt($(currentNodeIpAddress + "_memory").val())
        //   // if (selected_node_memory < group_memory) {
        //   //   $("#result").html("<p>worker node " + currentNode + "not enough memory</p>");
        //   // }
        //   // return
        // }

        $("#result").html("<p>Sending data...</p>");

        $.ajax({
          url: "/create-cluster",
          method: "POST",
          contentType: "application/json",
          data: JSON.stringify({
            cluster_name: clusterName,
            nodes: selectedValues,
          }),
          success: function (response) {
            $("#result").html(
              '<p style="color: green;">Success! Response: ' +
                JSON.stringify(response) +
                "</p>",
            );
          },
          error: function (xhr, status, error) {
            $("#result").html(
              '<p style="color: red;">Error: ' + error + "</p>",
            );
          },
        });
      });
    </script>
  </body>
</html>
