<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error Occured</title>
    <link rel="stylesheet" href="/public/assets/styles.css" />
  </head>
  <body class="h-screen bg-gray-50 flex items-center justify-center font-mono">
    <div class="bg-white p-8 rounded-lg shadow-lg w-96">
      <div
        class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded mb-4"
      >
        {{ .Error }}
      </div>
    </div>
  </body>
</html>
