<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="/public/assets/styles.css" />
  </head>
  <body
    class="h-screen bg-gray-50 flex flex-col items-center justify-center font-mono"
  >
    Evaluation Page
    <form id="requestsValueForm">
      <input type="radio" name="requestsValue" value="1" /> 1 request
      <input type="radio" name="requestsValue" value="1" /> 1 requests
      <input type="radio" name="requestsValue" value="1" /> 1 requests
      <input type="radio" name="requestsValue" value="1" /> 1 requests
      <input type="radio" name="requestsValue" value="1" /> 1 requests
    </form>
  </body>
  <script></script>
</html>
