<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="./public/assets/styles.css" />
  </head>
  <body class="h-screen bg-gray-50 flex items-center justify-center font-mono">
    <div class="bg-white p-8 rounded-lg shadow-lg w-96">
      {{ if .Error }}
      <div
        class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded mb-4"
      >
        {{ .Error }}
      </div>
      {{ end }}
      <h2 class="text-2xl font-bold text-center mb-6">Virtual Cluster Login</h2>
      <form class="space-y-4" method="POST" action="/login">
        <div>
          <input
            type="email"
            name="email"
            placeholder="Email"
            id="email"
            value="{{ .Email }}"
            class="w-full p-3 border border-gray-300 rounded-lg focus:outline-none focus:border-blue-500"
          />
        </div>
        <div>
          <input
            type="password"
            name="password"
            placeholder="Password"
            id="password"
            value="{{ .Password }}"
            class="w-full p-3 border border-gray-300 rounded-lg focus:outline-none focus:border-blue-500"
          />
        </div>
        <button
          type="submit"
          class="w-full bg-blue-500 text-white p-3 rounded-lg hover:bg-blue-600 transition"
        >
          Login
        </button>
      </form>
    </div>
  </body>
  <script>
  </script>
</html>
