package list

import "nodes-grpc-frontend/common/model/web"

templ NodeList(nodes []web.Node) {
<div>
  <h2>Available Nodes:</h2>
  <div class="flex">
    for _, node := range nodes {
    <div>
      <p>{ node.NodeIP }</p>
      <p>{ node.GrpcPort }</p>
    </div>
    }
  </div>
</div>
}
