package requirements

templ Requirements() {
	<form>
		<div class="flex gap-4 py-1">
			<div>
				<label for="vcpu">CPU:</label>
				<select name="vcpu" id="vcpu">
					<option value="1">1 vCPUs</option>
					<option value="2">2 vCPUs</option>
					<option value="3">3 vCPUs</option>
					<option value="4">4 vCPUs</option>
				</select>
			</div>
			<div>
				<label for="memory">Memory:</label>
				<select name="memory" id="memory">
					<option value="4">4 GBs</option>
					<option value="8">8 GBs</option>
					<option value="16">16 GBs</option>
				</select>
			</div>
		</div>
		<div class="flex">
			<button
				type="button"
				class="p-4 bg-blue-700 rounded-lg text-white hover:cursor-pointer"
				onclick="sendRequirementJson()"
			>
				Create Cluster
			</button>
		</div>
	</form>
}
