package base

import "nodes-grpc-frontend-local/src/components/top-bar"
import "nodes-grpc-frontend-local/src/components/node-list"
import "nodes-grpc-frontend-local/src/entity"

templ Page(nodes []entity.Node) {
	<!DOCTYPE html>
	<html>
		<head>
			<title>Dashboard</title>
			<meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8"/>
			<link rel="stylesheet" href="./assets/styles.css"/>
			<script src="./assets/script.js"></script>
		</head>
		<body class="h-screen">
			@top_bar.TopBar()
			<div id="container" class="m-8">
				<form>
					<div class="flex gap-4 py-1">
						// START name textbox
						<div>
							<label for="name">Name:</label>
							<input type="text" id="name" name="name"/>
						</div>
						// END name textbox
						// START vcpu
						<div>
							<label for="vcpu">CPU:</label>
							<select name="vcpu" id="vcpu">
								<option value="1">1 vCPU</option>
								<option value="2">2 vCPUs</option>
								<option value="3">3 vCPUs</option>
								<option value="4">4 vCPUs</option>
							</select>
						</div>
						// END vcpu
						// START memory
						<div>
							<label for="memory">Memory:</label>
							<select name="memory" id="memory">
								<option value="4">4 GBs</option>
								<option value="8">8 GBs</option>
								<option value="16">16 GBs</option>
							</select>
						</div>
						// END memory
						// START memory
						<div>
							<label for="storage">Storage:</label>
							<select name="storage" id="storage">
								<option value="4">4 GBs</option>
								<option value="8">8 GBs</option>
								<option value="16">16 GBs</option>
							</select>
						</div>
						// END memory
						// START node size
						<div>
							<label>node size</label>
							<input type="number" id="node_size" name="node_size" min="1" max="5"/>
						</div>
					</div>
					<div class="flex gap-2">
						<button
							type="button"
							class="p-4 bg-blue-700 rounded-lg text-white hover:cursor-pointer"
							onclick="sendRequirementJson()"
						>
							Create Cluster
						</button>
						<button
							type="button"
							class="p-4 bg-blue-700 rounded-lg text-white hover:cursor-pointer invisible"
							onclick="sendRequirementJson()"
						>
							Access Cluster
						</button>
					</div>
				</form>
			</div>
      @nodelist.NodeList(nodes)
			<div id="wait" class="m-8 font-mono"></div>
			<div id="token" class="m-8 font-mono overflow-hidden text-ellipsis break-words"></div>
			<div id="log" class="m-8"></div>
		</body>
	</html>
}
